@{
    ViewData["Title"] = "User Dashboard";
}

<div class="">
    <button class="btn btn-secondary">
        <a class="badge" asp-area="" asp-controller="Authors" asp-action="Add">
            Add new Author
        </a>
    </button>

    <button class="btn btn-secondary">
        <a class="badge" asp-area="" asp-controller="Books" asp-action="Add">
            Add new Book
        </a>
    </button>

    <button class="btn btn-secondary">
        <a class="badge" asp-area="" asp-controller="" asp-action="Add">
            Book Rental
        </a>
    </button>
</div>

<div class="mt-3 border p-5">
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" class="form-control" id="datatable-search-input" placeholder="Search Book" />
        @* <label class="form-label" for="datatable-search-input">Search</label> *@
    </div>
    <div>
        <h1 class="display-4">List of Authors</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    @* <th scope="col">#</th> *@
                    <th scope="col">Author Name</th>
                    <th scope="col">Books Written</th>
                    <th scope="col">Available Books for Rent</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @* <th scope="row">1</th> *@
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    @* <th scope="row">2</th> *@
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
                <tr>
                    @* <th scope="row">3</th> *@
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
