@{
    ViewData["Title"] = "Authors";
}
@model system.Models.Author

<h2>Add an Author</h2>

<form method="post">
    <div class="mt-3">
        <label for="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label for="form-label">Biography</label>
        <input type="text" class="form-control" asp-for="Biography" />
        <span asp-validation-for="Biography" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">
            Create
        </button>
    </div>
</form>