@{
    ViewData["Title"] = "Add Books";
}

@model system.Models.Book

<h1>Add a book</h1>

<form method="post">
    <div class="mt-3">
        <label for="form-label">Title</label>
        <input type="text" class="form-control" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label for="form-label">ISBN</label>
        <input type="text" class="form-control" asp-for="ISBN" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label for="form-label">Price</label>
        <input type="text" class="form-control" asp-for="Price" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label for="form-label">Date</label>
        <input type="date" class="form-control" asp-for="BorrowingDate" />
        <span asp-validation-for="BorrowingDate" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label for="AuthorId">Author</label>
        <select asp-for="AuthorId" asp-items="ViewBag.Authors" class="form-control">
            <option value="">Select an Author</option>
        </select>
        <span asp-validation-for="AuthorId" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">
            Create
        </button>
    </div>
</form>