@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-secondary text-white text-center p-5">
    <h1 class="display-4">FEATURED BOOK SECTION</h1>
</div>

<div class="mt-3 input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>
        Search
    </button>
</div>
